
body{
    background-image: url("../images/carona.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


#email {
    position: absolute;
    left: 500px;
    top: 168px;
    width: 350px;
}

#password {
    position: absolute;
    left: 500px;
    top: 275px;
    width: 350px;
}

#buttonLogin {
    position: absolute;
    font-size: 18px;
    top: 370px;
    width: 100%;
}

.almostJumbotron{
    background-color: transparent;
    background:transparent;
    width: 400px;
    text-align: center;
    margin-top: 105px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 60px;
    font-size: 18px;
    text-align: justify;
}

body{
    background-color: #fffbf9 ;

}

#menu ul{
    width: 250px;
    height: auto;
    background-color: #5A82A4;
    display: block;
    margin: 0;
    padding: 0;

}

#menu li{
    list-style: none;
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 2px solid #fff;
    color: #fffafa;
    font-family: Tahoma;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

#menu li:hover{
    background: #05365E ;
    width: 350px;
}

#menu li{
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -ms-transition:all .9s ease;
    transition: all .9s ease;
}


.center {
    text-align: center;
    position: absolute;
    font-size: 12px;
    top: 1%;
    width: 100%;
}

.borda-2px {
    text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px
}


h1 {
    font-family: "Century Schoolbook L";
    color:white;
}

#menulo {
    position: absolute;
    font-size: 12px;
    left: 41%;
    top: 20%;
    width: 100%;
}

