

body{
    background-image: url("../images/carona.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fffbf9 ;
}

.container{
    position:relative;
}
.car {
    position: absolute;
    z-index: 1;
    top: 106px;
    right:-10px;
    animation:run 20s infinite linear;
}

.car-body img{
    width:200px;
}
.tair{
    position:absolute;
}
.tair img{
    width:40px;
    animation:rotate 3s infinite linear;
    position:relative;
}
.tair1{
    left:35px;
    top:106px;
}
.tair2{
    left:128px;
    top:106px;
}
@keyframes rotate{
    100% {transform: rotate(-360deg);}
}

@keyframes run{
    100% {transform:translateX(-1200px);}
}

#title{
    color: #fffbf9 ;
    text-align: center;
    font-family: Goudy Stout;
}

#paginationNotify{
    position: relative;
    top: 350px;
    left: 500px;}

#email {
    position: absolute;
    left: 500px;
    top: 168px;
    width: 350px;
}

#password {
    position: absolute;
    left: 500px;
    top: 275px;
    width: 350px;
}

.almostJumbotron{
    background-color: transparent;
    background:transparent;
    width: 400px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding-top: 60px;
    font-size: 18px;
    text-align: justify;
}

.jumbotron{
    width: 500px;
    height: 250px;

}

.container-fluid{
    top: 8%
}

.fontColor {
    text-decoration-color: red;
}

#welcomeNotify{
    color:white;
    background-color: #5998d2;
    left: 250px;
    position: absolute;
    width: 800px;
}
#aceitarCarona {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#rejeitarCarona {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#rejeitarCarona:hover {
    background-color: #ff291c ;
    color: white;
}

#aceitarCarona:hover {
    background-color: #4CAF50;
    color: white;
}

.center {
    text-align: center;
    position: absolute;
    font-size: 12px;
    top: 10%;
    width: 100%;
}

.borda-2px {
    text-shadow:#000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px
}


h1 {
    font-family: "Century Schoolbook L";
    color:white;
}






