.navbar {
    background-color: #5998d2;
    border-bottom: 0 none;
    font-size: 14px;
    transition: .25s all linear;
}

.navbar.inv {
    background-color: rgba( 0, 0, 0, .5 );
    border-bottom: 1px solid #bfbfbf;
}

.navbar .nav a {
    color: #E4DDDD;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    transition: all .5 linear;
}


.navbar-responsive-collapse {
    margin: 0 auto;
    width: 80%;
}

.nav li {
    text-align: center;
    white-space: nowrap;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: inherit;
    outline: none;
}

.navbar-brand {
    padding: 8px;
}