@main("Buscar") {

    <div class="center">
        <h1 class="borda-2px" style="color: #fffbf9 ;text-align: center; font-family: Goudy Stout; "> Buscar </h1>
    </div>

    <div class="almostJumbotron">
        <form name="form" action="/search" method="get">

            <div class="form-group">
                <label for="Bairro"> <h5 style ="color: white;"><b> Bairro: </b></h5></label>
                <input type="text" name = "login" class="form-control" placeholder=Bairro >
            </div>

            <input name="Rota" type="radio" id="Partida" checked>
            <label for="Partida"><h5 style ="color: white;"><b> Partida </b></h5></label>

            <input name="Rota" type="radio" id="retorno">
            <label for="Retorno"><h5 style ="color: white;"><b> Retorno </b></h5></label>

            <div class="form-group">
                <label for="Horário de partida"> <h5 style ="color: white;"><b> Data de partida: </b></h5></label>
                <input type="date" name = "login" class="form-control" placeholder="data" >
            </div>
            <div class="form-group">
                <label for="Horário de partida"> <h5 style ="color: white;"><b> Horário de partida: </b></h5></label>
                <input type="time" name = "login" class="form-control" placeholder="data" >
            </div>

            <input type="button" class="btn btn-default" style="color: #2aabd2;" value="Cancelar" onclick=window.location.href="/home">
            <input type="submit" class="btn btn-primary"  value="Buscar">

        </form>
    </div>

}