@main("Buscar") {

    <div class="row" >
        <div class="col-md-12">
            <div id="bemVindo">
                <h3>
                    Bem-vindo à página de Busca!

                </h3>
                <h4>Aqui você encontra informações sobre caronas e buscas de seu interesse</h4>

            </div>
        </div>
        <div class="col-md-12">
            <br>

        </div>
    </div>

        <div class="row" id = "filtro">
        <div class="col-md-2 col-md-offset-1">
            <div class="panel panel-info" style="background-color: transparent" >
                <form action="/horario" method="post">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="diasSemana"> <h5 style ="color: #2aabd2;"><b>
                                Dia da Semana</b></h5></label>
                            <select class="form-control">
                                <option value="segunda">Segunda</option>
                                <option value="terca">Terça</option>
                                <option value="quarta">Quarta</option>
                                <option value="quinta">Quinta</option>
                                <option value="sexta">Sexta</option>

                            </select>
                        </div>


                        <div class="form-group">
                            <label for="horario"> <h5 style ="color: #2aabd2;"><b>
                                Horário </b></h5></label>
                            <select class="form-control">
                                <option value="hora">8:00</option>
                                <option value="hora">10:00</option>
                                <option value="hora">12:00</option>
                                <option value="hora">14:00</option>
                                <option value="hora">16:00</option>
                                <option value="hora">18:00</option>
                                <option value="hora">20:00</option>
                                <option value="hora">22:00</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="endereco"> <h5 style ="color: #2aabd2;"><b>
                                Bairro </b></h5></label>
                            <select class="form-control" id="selecaoBairro">
                                <option value="segunda">Malvinas</option>
                                <option value="terca">Centro</option>
                                <option value="quarta">Catolé</option>
                                <option value="quinta">Bodocongó</option>
                                <option value="sexta">Alto Branco</option>
                            </select>
                        </div>

                        <label for="tipoCarona"> <h5 style ="color:  #2aabd2;"><b>
                            Tipo de Carona</b></h5></label>
                        <br>
                        <div class="radio" id="carona">
                            <label><input type="radio" value="ida" name="optradio" CHECKED>Ida</label>
                        </div>
                        <div class="radio">
                            <label><input type="radio" value="volta"name="optradio">Volta</label>
                        </div>


                    </div>
                </form>
                <button id="singlebutton" name="buscar" class="btn btn-primary center-block">
                    Buscar
                </button>
            </div>
        </div>
        </div>

        @*<script>
                $('#carona').change(function(){

                    var selecionar = $(this).val();
                    switch(selecionar){
                        case "ida":
                            $("cas").show()
                            break;
                        default:
                            $("cas").hide()
                    }

                });
        </script>*@

        <div class="col-md-12 text-center" id = "list">
        <ul class="pagination" >
                <li>
                    <a href="#">Prev</a>
                </li>
                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">Next</a>
                </li>
            </ul>
            </div>


    <div class="row" id = "buscaNotify">
    <div class="col-md-3" id="1">
    <div class="panel panel-primary"  style="width: 250px">
        <div class="panel-heading">
            <b>Carona-me</b>
        </div>
        <div class="panel-body">
            <a href="../html-link.htm">
                <div align="middle">
                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                height="70" width="70" >
                </div>
            </a>
            <p></p>
            <p style="font-size: 12px"><b>Nome</b>: Fulano B. &nbsp &nbsp<br> <b>Tel:</b>(083) 99999-3333 <br>
                <b>Rua</b>: Aprinio Velosso Barosso <br>
                 <b>Bairro</b>: Malvinas
            </p>

            <div style="text-align: center;">
                <input type="button" class="btn btn-default"  value="Carona-me" style="color: #2aabd2;"onclick="solicitaCarona()" >
            </div>
        </div>
    </div>
    </div>

    <div class="col-md-3">
    <div class="panel panel-primary"  style="width: 250px">
        <div class="panel-heading">
            <b>Carona-me</b>
        </div>
        <div class="panel-body">
            <a href="../html-link.htm">
                <div align="middle">
                    <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                    height="70" width="70" >
                </div>
            </a>
            <p></p>
            <p style="font-size: 12px"><b>Nome</b>: Fulano B. &nbsp &nbsp<br> <b>Tel:</b>(083) 99999-3333 <br>
                <b>Rua</b>: Aprinio Velosso Barosso <br>
                <b>Bairro</b>: Malvinas
            </p>

            <div style="text-align: center;">
                <input type="button" class="btn btn-default"  value="Carona-me" style="color: #2aabd2;" onclick="solicitaCarona()">
            </div>
        </div>
    </div>
    </div>


    <div>
        <div class="col-md-3">
    <div class="panel panel-primary"  style="width: 250px">
        <div class="panel-heading">
            <b>Carona-me</b>
        </div>
        <div class="panel-body">
            <a href="../html-link.htm">
                <div align="middle">
                    <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                    height="70" width="70" >
                </div>
            </a>
            <p></p>
            <p style="font-size: 12px"><b>Nome</b>: Fulano B. &nbsp &nbsp<br> <b>Tel:</b>(083) 99999-3333 <br>
                <b>Rua</b>: Aprinio Velosso Barosso <br>
                <b>Bairro</b>: Malvinas
            </p>

            <div style="text-align: center;">
                <input type="button" class="btn btn-default"  value="Carona-me" style="color: #2aabd2;" >
            </div>
        </div>
        </div>
    </div>
    </div>
    </div>




}