@(created: User)

@main(s"PrimeiroCadastro") {


    <html>
        <head>
            <title>PrimeiroCadastro</title>
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>





        <body>
            <div class="almostJumbotron">
                <form name="form">

                    <div class="form-group">
                        <label for="Nome"> <h5 style ="color: white;"><b> Nome: </b></h5></label>
                        <input type="text" name = "login" class="form-control" placeholder="Nome" >
                    </div>
                    <div class="form-group">
                        <label for="E-mail"> <h5 style ="color: white;"><b> Email: </b></h5></label>
                        <input type="text" name = "senha" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="Bairro"> <h5 style ="color: white;"><b> Bairro: </b></h5></label>
                        <input type="text" name = "senha" class="form-control" placeholder="Bairro">
                    </div>

                    <div class="form-group">
                        <label for="Rua"> <h5 style ="color: white;"><b> Rua: </b></h5></label>
                        <input type="text" name = "senha" class="form-control" placeholder="Rua">
                    </div>

                    <select size="2">
                        <li> Passageiro</li>
                        <li> Motorista </li>
                    </select>

                    <input type="submit" class="btn btn-primary"  value="OK">
                </form>
            </div>

        </body>



    </html>


}