@main(s"Home") {

<div class="center">
    <h1 class = "borda-2px"> Bem vindo, João! </h1> </div>


<div id="menu">
	<ul id="menulo">
	   	<li><form action="/account" method="get" >
	    <input type="submit" class="menu_button" value="CADASTRO"></form></li>

	    <li><form action="/search" method="get" >
	    <input type="submit" class="menu_button" value="BUSCAR"></form></li>

	    <li><form action="/notification" method="get" >
	    <input type="submit" class="menu_button" value="NOTIFICAÇÕES"></form></li>

	    <li><form action="/horario" method="get" >
	    <input type="submit" class="menu_button" value="HORÁRIO"></form></li>

	    <li><form action="/" method="get" >
	    <input type="submit" class="menu_button" value="SAIR"></form></li>

	</ul>
</div>

}