@main(s"Home") {

<div class="center">
    <h1 class = "borda-2px"> Bem vindo, João! </h1>
</div>


<div class = almostJumbotron>

    <div class="panel panel-primary" style="width: 500px; height: 400px;>
        <div class="panel-body">

            <div align="middle">
                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                height="200" width="200" >
            </div>


    <br><br><br><br>


            <p style="font-size: 12px; "><b>NÚMERO DE VAGAS IDA:</b> 4 <br>
                <b>NÚMERO DE VAGAS VOLTA:</b> 4 <br>
                <b>HORÁRIO ATUAL: </b> IDA: 8h &nbsp; VOLTA: 12h
            </p>

        </div>
    </div>
</div>




<div id="menu">
	<ul id="menulo">
	   	<li><form action="/cadastroHome" method="get" >
	    <input type="submit" class="menu_button" value="CADASTRO"></form></li>

	    <li><form action="/search" method="get" >
	    <input type="submit" class="menu_button" value="BUSCAR"></form></li>

	    <li><form action="/notification" method="get" >
	    <input type="submit" class="menu_button" value="NOTIFICAÇÕES"></form></li>

	    <li><form action="/horario" method="get" >
	    <input type="submit" class="menu_button" value="HORÁRIO"></form></li>

	    <li><form action="/" method="get" >
	    <input type="submit" class="menu_button" value="SAIR"></form></li>

	</ul>
</div>




}