@main("Horario atual") {
    <div class="almostJumbotron">
        <form action="/horario" method="post">
            <div class="form-group">
                <div class="form-group">
                    <input type="time" class="form-control" placeholder="Horario de Chegada"  autofocus>
                </div>
                <div class="form-group">
                    <input type="time" class="form-control" placeholder="Horario de Saida"  autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Rua"  autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bairro"  autofocus>
                </div>

            </div>


            <input type="button" class="btn btn-default" style="color: #2aabd2;" value="Cancelar" onclick=window.location.href="/home">
            <input type="submit" class="btn btn-primary"  value="Salvar">
        </form>
    </div>

}