@main("Login - Carona-me!") {

<div class="center">
    <h1 style="color: white; text-align: center; font-family: Goudy Stout; "> Carona-me! </h1>
</div>

<div class="almostJumbotron">
    <form action="/signin" method="post" >
        <div class="form-group">
            <label for="email"> <h5 style ="color: white;"><b> Email: </b></h5></label>
            <input type="email" class="form-control" placeholder="Digite o e-mail" autofocus>
        </div>
        <div class="form-group">
            <label for="password"> <h5 style ="color: white;"><b> Senha: </b></h5></label>
            <input type="password" class="form-control" placeholder="Digite a senha" autofocus >
        </div>

        <br>

        <input type="submit" class="btn btn-primary"  value="Login">
    </form>

    <form action="/signup" method="get" >
        <input type="submit" class="btn btn-primary"  value="Cadastrar">
    </form>
</div>

}