@main("Notificações") {
    <style xmlns="http://www.w3.org/1999/html">

  </style>
  <body>

      <div class="jumbotron" id = "welcomeNotify">
          <h2><center>
              Bem-vindo à página de notificações!
              <br><br><br>
              <h4><center>Aqui você encontra pedidos pendentes, aceitos e rejeitados</center></h4>
          </center></h2>
      </div>

      <ul class="pagination" id="paginationNotify">
          <li>
              <a href="#">Prev</a>
          </li>
          <li>
              <a href="#">1</a>
          </li>
          <li>
              <a href="#">2</a>
          </li>
          <li>
              <a href="#">3</a>
          </li>
          <li>
              <a href="#">4</a>
          </li>
          <li>
              <a href="#">5</a>
          </li>
          <li>
              <a href="#">Next</a>
          </li>
      </ul>

	<div class="row" >
		<div class="col-md-12" style="position: absolute; top: 450px; left: 170px">

            <div class="col-md-3">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp<br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b>Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <br>
                        <div style="text-align: center;">
                            <button type="button" id = "aceitarCarona" class="btn btn-default;">
                                Aceitar
                            </button>
                            <button type="button" id = "rejeitarCarona" class="btn btn-default">
                                Rejeitar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp <br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b class="text">Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <br>
                        <div style="text-align: center;">
                            <button type="button" id = "aceitarCarona" class="btn btn-default;">
                                Aceitar
                            </button>
                            <button type="button" id = "rejeitarCarona" class="btn btn-default">
                                Rejeitar
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp<br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b>Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <br>
                        <div style="text-align: center;">
                            <button type="button" id = "aceitarCarona" class="btn btn-default;">
                                Aceitar
                            </button>
                            <button type="button" id = "rejeitarCarona" class="btn btn-default">
                                Rejeitar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
				<br>
				<br>
				<br>
		</div>
	</div>
</div>

   

  </body>
}