@main("Passageiros") {

    <body>

        <div class="row">
            <div class="col-md-12">
                <div id="bemVindo" style="height: 200px;">
                    <h3>
                        Bem-vindo à página de Informações da Carona!

                    </h3>
                    <h4>Aqui você poderá ver informações sobre sua Carona</h4>
                    <h4>Dia: Terça  Hora: 10:00  Tipo: Ida</h4>
                    <h4>Para excluir essa carona, exclua todos os usuários abaixo e clique no botão Excluir</h4>
                    <h4>Rota: UFCG-Prata-Centro</h4>
                    <div align="center">
                        <input type="button" class="btn btn-default"  value="Excluir" style="color: #2aabd2;"  onclick=window.location.href="/horario">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <br>

            </div>
            <div class="col-md-3 col-lg-offset-1">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp<br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b>Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <div style="text-align: center;">
                            <input type="button" class="btn btn-default"  value="Excluir" style="color: #2aabd2;" >
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-offset-1">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp <br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b class="text">Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <div style="text-align: center;">
                            <input type="button" class="btn btn-default"  value="Excluir" style="color: #2aabd2;" >
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-offset-1">
                <div class="panel panel-primary"  style="width: 250px">
                    <div class="panel-heading">
                        <b>Carona-me</b>
                    </div>
                    <div class="panel-body">
                        <a href="../html-link.htm">
                            <div align="middle">
                                <img src="http://lorempixel.com/140/140/" class= "img-circle" class="img-responsive"
                                height="70" width="70" >
                            </div>
                        </a>
                        <p></p>
                        <p style="font-size: 12px">
                            <b>Nome</b>: Fulano B. &nbsp &nbsp<br>
                            <b>Horario Proposto</b>: Terça - 10:00 <br>
                            <b>Bairro</b>: Malvinas<br>
                            <b>Tel:</b>(083) 99999-3333 <br>

                        </p>
                        <div style="text-align: center;">
                            <input type="button" class="btn btn-default"  value="Excluir" style="color: #2aabd2;" >
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </body>
}